.home-page-wrapper {

    .side_top_home_wrapper_image {
        height          : 550px;
        background-color: #EDEDED;
        object-fit      : contain;
        display         : flex;
        justify-content : center;
        align-items     : center;

        img {
            height    : 190px;
            object-fit: contain;
        }
    }

    .slick-dots {
        bottom: 14px;

        li {
            button {
                &::after {
                    content: "";
                }

                &::before {
                    content: "";
                }

                border       : 1px solid #333;
                width        : 12px;
                height       : 12px;
                border-radius: 50%;
            }

            &.slick-active {
                button {
                    background-color: #333;
                }
            }
        }
    }

    .slick-prev {
        left            : 0;
        z-index         : 10;
        color           : #fff;
        background-color: #BABABA;
        height          : 100px;
        text-align      : center;
        width           : 30px;
        display         : flex !important;
        justify-content : center;
        align-items     : center;
        cursor          : pointer;
    }

    .slick-next {
        right           : 0;
        z-index         : 10;
        color           : #fff;
        background-color: #BABABA;
        height          : 100px;
        text-align      : center;
        width           : 30px;
        display         : flex !important;
        justify-content : center;
        align-items     : center;
        cursor          : pointer;
    }

    .product_section {
        .slick-prev {
            left: -34px;
        }

        .slick-next {
            right: -34px;
        }
    }

    @media (max-width: 575.98px) {
        .product_section {
            .slick-prev {
                left: 0;
            }

            .slick-next {
                right: 0;
            }
        }

        .side_top_home_wrapper_image {
            height: 300px;

            img {
                height: 100px;
            }
        }

        .product_section {
            padding: 0;
        }
    }
}